{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    
    <h1>About</h1>

    <p>This is about page for the Deli and Restaurant</p>

    <p>In the Food Network star's first book, 
        Giada De Laurentiis helps you put a fabulous Italian dinner on the table tonight, 
        for friends or just for the kids, with a minimum of fuss and a maximum of flavor.
        Everyday Italian is true to its title: the fresh, simple recipes are incredibly quick and accessible, 
        and also utterly mouth-watering—perfect for everyday cooking. 
        And the book is focused on the real-life considerations of what you actually have in your refrigerator and pantry 
        (no mail-order ingredients here) 
        and what you’re in the mood for—whether a simply sauced pasta or a hearty family-friendly roast, 
        these great recipes cover every contingency. 
        So, for example, you’ll find dishes that you can make solely from pantry ingredients</p>

    <a href="/terms/">Terms & Policy</a>
{% endblock %}
  